.home{
    background: pink;
    .index-search{
        position: relative;
        padding: 15px 25px;
        height: 60px;
        box-sizing: border-box;
        input{
            width: 100%;
            height: 30px;
            background-image: 30px;
            background-color: #F8F8F8;
            border-radius: 15px;
            vertical-align: top;
            padding: 0 20px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .search-prompt {
            font-size: 14px;
            color: #999;
            height: 20px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .prompt-img {
                width: 20px;
                height: 20px;
            }
            .prompt-text {
                display: inline-block;
                line-height: 20px;
                vertical-align: top;
            }
        }
    }
}