.Search{
    width: 100%;
    background: #fff;
    height: 100vh;
    .InpBox{
        position: relative;
        padding: 20px 120px 40px 50px;
        box-sizing: border-box;
        border-bottom: 1Px solid #dedede;
        height: 100px;
        line-height: 100px;
        background: #fff;
        .left_con {
            width: 100%;
            height: 60px;
            float: left;
            background-color: #F4F4F4;
            position: relative;
            padding-right: 80px;
            padding-left: 60px;
            box-sizing: border-box;
            border-radius: 300px;
            input{
                padding-right: 20px;
                background-color: #F4F4F4;
                box-sizing: border-box;
                font-size: 28px;
                width: 100%;
                height: 100%;
                border: 0;
                vertical-align: top;
            }
            .search-img {
                width: 40px;
                position: absolute;
                top: 10px;
                left: 20px;
            }
            .submit{
                width: 80px;
                line-height: 60px;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 32px;
                color: #333;
            }
        }
        .search-close {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 32px;
            color: #999;
            text-align: center;
        }
    }
    .Hotkeyword{
        width: 100%;
        ul{
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            li{
                overflow: hidden;
                margin-top: 20px;
                background-color: #F3F3F3;
                color: #333;
                padding: 0 30px;
                text-align: center;
                font-size: 28px;
                border-radius: 16px;
                vertical-align: top;
                margin-right: 2%;
                float: left;
            }
        }
    }
}